*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration:none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color:black;
    text-align: center;
  }
  
  .main_text{
    margin:auto;
    padding: 10px;
    margin-top:20px;
  }
  
  .main_header{
    margin:auto;
    background: skyblue;
    height:40px;
  }
  
  .nav{
    display:flex;
    line-height:40px;
    justify-content:center;
  }
  
  .nav > li{
    margin-left:35px;
    margin-right:35px;
  }

  .info{
    /*배경색 구간 확인 예시*/
    background-color: tomato;
    padding: 20px;
    text-align: left;
  }

  .info > h3{
    margin-top: 20px;
    text-align: left;
  }

  .res{
    background-color: thistle;
    padding: 20px;
    text-align: left;
  }

  .res > h3{
    margin-top: 20px;
    text-align: left;
  }