*{
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none;
  text-decoration:none;
  border-collapse: collapse;
  margin:0px;
  padding:0px;
  color:black;
}

.header{
  text-align: center;
  }

.main_text{
      text-align: center;
      margin:auto;
      padding: 10px;
      margin-top:10px;
    }
    
.main_header{
      margin:auto;
      background: lavender;
      height:40px;
    }
  
.nav{
    display:flex;
    line-height:40px;
    justify-content:center;
  }
  
  
.nav > li{
    margin-left:35px;
    margin-right:35px;
  }

.info{
  background-color: tomato;
    padding: 20px;
    text-align: left;
  }

.info > h3{
    margin-top: 20px;
    text-align: left;
  }
