*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration:none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color:black;
  }
  
.main_text{
    text-align: center;
    margin:auto;
    padding: 10px;
    margin-top:20px;
  }
  
.main_header{
    margin:auto;
    background: lavender;
    height:40px;
  }
  
.nav{
    display:flex;
    line-height:40px;
    justify-content:center;
  }
  
.nav > li{
    margin-left:35px;
    margin-right:35px;
  }

.txt{
    text-align: center;
    margin-top: 40px;
}


.wrap{
    justify-content: center;
    margin-top:30px;
    display: grid;
}

.area{
    width: 450px;
    margin-top:20px;
}

.area input{
    width: 100%;
    padding:3px;
    border:none;
    border-bottom: 1px solid #999;
    font-size:18px;
    outline:none;
    display: inline-block;
}

.bnt{
    margin-bottom: 50px;
}

.bnt1{
    background-color: lavender;
    width:70px;
    height:30px;
    border: 0;
    border-radius: 5px;
}

.bnt2{
    background-color: rgb(228, 228, 228);
    width:70px;
    height:30px;
    border: 0;
    border-radius: 5px;
}