*{
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none;
  text-decoration:none;
  border-collapse: collapse;
  margin:0px;
  padding:0px;
  color:black;
  text-align: center;
}

.header{
background: skyblue;
padding: 20px;
}

.intro_bg{
background-image: url("../img/eyelashshop.jpg"); 
width: 500px;
height: 640px;
background-repeat: no-repeat;
margin : auto;
}

div.button
{
 margin: auto;
 width: 50%;
 left :150%;
 right:150%;
}